.container {
    margin: 0 20px;
}

.titulo h3 {
    font-size: 32px;
    font-weight: bold;
}

.parrafo p {
    font-size: 18px;
    line-height: 24px;
}

@media all and (min-width: 768px) {
    .container {
        margin: 0 40px;
        margin-top: 30px;
    }

    .titulo h3 {
        font-size: 28px;
    }

    .parrafo p {
        font-size: 16px;
        line-height: 20px;
    }

}

@media all and (min-width: 1140px) {
    .container {
        margin: 0 auto;
        margin-top: 190px;
        max-width: 750px;
    }

    .titulo h3 {
        font-size: 42px;
    }

    .parrafo p {
        font-size: 24px;
        line-height: 32px;
    }

}