* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    background-color: white;
}

body {
    background-color: rgb(196, 196, 196);
    padding-bottom: 20px;
    margin: 20px;

}

header {}

nav {
    background-color: green;
}

.main-paragraph {
    background-color: yellow;
    margin-bottom: 20px;
}

nav ul {
    list-style: none;
}

aside {
    background-color: grey;


}